/* ============================================================
  RESET - http://meyerweb.com/eric/tools/css/reset/
============================================================ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style-type:circle;
  padding-left: 5vh;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

figcaption{
  text-align: center;
  padding-bottom: 10px;
}

/* ============================================================
  BOX SIZING & CLEARFIX
============================================================ */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ============================================================
  HTML & BODY
============================================================ */
body {
  background-color: #b4b4b4;
  color: #787878;
  font-family: "Cantarell", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.wrapper {
  width: 100%;
  margin: 0 auto;

}

main {
  display: block;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.centered{
  transform: translateX(35%);
}

.centered2{
  transform: translateX(42.5%);
}
.centered3{
  transform: translateX(25%);
}
.lowered{
  transform:translateY(200%);
}
.halfwidth{
  width: 50%;
}
.75width{
  width:75%;
}
.highered{
  transform:translateY(-25%);
}

/* ============================================================
  TEXT LEVEL SEMANTICS
============================================================ */
a {
  text-decoration: none;
  color: #b4b4b4;
}

a:hover {
  color: #818181;
}


/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h1{
  font-family:"Cantarell", serif;
  font-size:40px;

  padding-top:20px;

}
section.module h2 {
  font-family: "Cantarell", serif;
  font-size: 30px;

}
section.module p {
  font-family: "Cantarell", serif, Arial;

  font-size: 16px;
  font-weight: 300;

}
section.module li {
  font-family:"Cantarell",serif;
  font-size: 16px;
}

section.module ul{
  padding-top: 10px;
  padding-bottom:5px;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;

}

section.module.parallax {
  height: cover;  

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax.fill{
  height: 100vh;
}
 section.module.parallax.partialfill{
  height: 30vh;
 }
section.module.parallax.olderpostfill{
  height: 30vh;
}
section.module.parallax h1 {
  color: rgb(255, 255, 255);
  font-family: serif;
  font-size: 148px;
  font-weight: 500;
  padding-top: 10vh;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax h3 {
  color: rgb(255, 255, 255);
  font-family: serif;
  font-size: 40px;
  font-weight: 500;

  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax a{
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax p{
  text-align: center;
  
}

section.module.parallax h2{
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-4{
  background: #14abaa
}
section.module.parallax-2{
  background-image: url(http://i.imgur.com/q4pqETv.jpg);
}

section.module.beachfinderbg{
  background-image: url('/static/media/header2filtered.jpg');
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {

    font-size: 100px;
  }
}


/*navigation bar*/

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


/*buttons*/

/* CSS BUTTON */
.button {
  border: none;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 50px;
  border-radius: 3px;
  margin:5px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  transition: text-shadow 0.3s ease;
}

.button:active {
  position: relative;
  top: 1px;
  border-bottom-width: 2px;
}

.button:hover {
  text-shadow: 2px 2px 0px rgba(0,0,0,.3)
}

.red {
  background-color: salmon;
  border-color: rgb(150,120,120);
}


.green {
  background-color: #4CDF78;
  border-color: #53A574;
}

.blue {
  background-color: #19698C;
  border-color: #384B64;
}

.form {
  display: block;
  width: 300px;
  background-color: #F3EDD3;
  padding:  0;
  text-align: center;
}

.form .form-title {
  text-align: center;
  padding: 5px;
  margin: 0;
  margin-bottom: 15px;
}

.form label {
  color: black;
}

.form input[type=text], .form input[type=password] {
  display: block;
}

input[type=text], input[type=password] {
  display: inline-block;
  color: black;
  padding: 10px;
  width: 250px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.25);
  border: none;
  border-radius: 2px;
  margin: 10px auto;
  transition:background-color 0.5s ease;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: rgba(0,0,0,0.45);
}

input[type=submit], input[type=button] {
  color: white;
  display: block;
  width:50%;
  margin-top:15px;
  border: none;
  padding: 5px;
  font-size: 1.1em;
  cursor: pointer;
}

input[type="checkbox"], input[type="radio"]{
  background: rgba(191,185,169,.2);
  height: 30px;
  cursor: pointer;
  border-radius: 3px;
  width:30px;
  -moz-appearance:none;
  -webkit-appearance:none;
  box-shadow: 0 1px 2px rgba(0,0,0,.44) inset;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.44) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.44) inset;
  vertical-align: middle;
}

input[type="radio"] {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
  background: #5E5D58;
  box-shadow: 0 1px 2px rgba(0,0,0,.44);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.44);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.44);
  }

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

#grid {
  /**
   * Two columns:
   *  1. the first sized to content,
   *  2. the second receives the remaining space
   *     (but is never smaller than the minimum size of the board
   *     or the game controls, which occupy this column [Figure 4])
   *
   * Three rows:
   *  3. the first sized to content,
   *  4. the middle row receives the remaining space
   *     (but is never smaller than the minimum height
   *      of the board or stats areas)
   *  5. the last sized to content.
   */
  display: grid;
  grid-template-columns:
    /* 1 */ auto
    /* 2 */ 1fr;
  grid-template-rows:
    /* 3 */ auto
    /* 4 */ 1fr
    /* 5 */ auto;
}

#title    { grid-column: 1; grid-row: 1; }
#score    { grid-column: 1; grid-row: 3; }
#stats    { grid-column: 1; grid-row: 2; align-self: start; }
#board    { grid-column: 2; grid-row: 1 / span 2; }
#controls { grid-column: 2; grid-row: 3; justify-self: center; }


.img{
    float: left;
    margin-right:1rem;
}