<h1>Nice, you made it to the search page. </h1>

<h2>Find a beach that's...</h2>


<form name="search_something" action=/beaches/results method="get">
<input type="hidden" name="is_pet_friendly" value="0"/>
<input type="checkbox" name="is_pet_friendly" value="1">Pet Friendly<br>
<input type="hidden" name="is_alcohol_friendly" value="0">
<input type="checkbox" name="is_alcohol_friendly" value="1">Alcohol Friendly<br>
<input type="hidden" name="is_open_after_10pm" value="0">
<input type="checkbox" name="is_open_after_10pm" value="1">Open after 10pm<br>
<input type="hidden" name="is_bonfire_friendly" value="0">
<input type="checkbox" name="is_bonfire_friendly" value="1">Bonfire Friendly<br>
<input type="hidden" name="is_good_for_surfing" value="0">
<input type="checkbox" name="is_good_for_surfing" value="1">Good surf spot<br>
<input type="hidden" name="has_free_parking" value="0">
<input type="checkbox" name="has_free_parking" value="1">Free parking<br>
<input type=submit value="Search">
</form>